<header>
  <button id="current_location" class="ir btn btn--current-location">Current Location</button>
  <button id="fel_location" class="ir btn btn--fel-location">Front End London @ Saddlers Wells</button>
</header>